.cards {
  max-width: 880px;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  gap: 20px 17px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .cards {
    max-width: 635px;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, minmax(min-content, max-content));
  }
}

@media screen and (max-width: 660px) {
  .cards {
    padding-top: 36px;
  }
}

@media screen and (max-width: 525px) {
  .cards {
    grid-template-columns: max-content;
  }
}
