.profile__box {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 525px) {
  .profile__box {
    flex-direction: column;
  }
}

@media screen and (max-width: 525px) {
  .profile__box {
    flex-direction: column;
  }
}
