.profile__subtitle {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 9px 0 24px 0;
  grid-area: profile__subtitle;
}

@media screen and (max-width: 850px) {
  .profile__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 525px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 14px 0 36px 0;
  }
}

@media screen and (max-width: 320px) {
  .profile__subtitle {
    padding: 5px 0 31px 0;
  }
}
