.popup__closed-button {
  position: absolute;
  border: 0;
  background: none;
  background-image: url(./../../../images/close-Icon.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
}

.popup__closed-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__closed-button {
    background-image: url(./../../../images/close-Icon-20x20.svg);
    width: 20px;
    height: 20px;
    right: -20px;
    top: -20px;
  }
}

@media screen and (max-width: 320px) {
  .popup__closed-button {
    right: 0;
    top: -36px;
  }
}
