.form__buttom {
  min-width: 358px;
  max-height: 50px;
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 14px 124px 18px 125px;
  border: 0;
  border-radius: 2px;
  margin-top: 19px;
}

.form__buttom:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form__buttom {
    min-width: 238px;
    max-height: 46px;
    font-size: 14px;
    line-height: 17px;
    padding: 14px 82px 14px 82px;
    margin-top: 16px;
  }
}
