.card__delete {
  position: absolute;
  border: 0;
  background: none;
  background-image: url(./../../../images/korzina-card.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  right: 20px;
  top: 20px;
}

.card__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}
